.siderbar {
    width: 350px;
    background-color: #2e2e2e;
    height: 100vh;
    z-index: 2;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 0px 10px;
    background-color: rgba(97, 97, 97, 0.18);
}

.top h1 {
    color: #6C912C;
    padding: 0 !important;
    margin: 0 !important;
}

.category_block {
    height: 92vh;
    display: flex;
    flex-direction: column;
}

.category_heading_div {
    padding-top: 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(87, 87, 87, 0.367);
    margin: 0px 15px;
}

.category_heading {
    color: #979797;
    line-height: 5px;
}

.add_category {
    color: #979797;
    font-size: 18px;
    background-color: rgba(97, 97, 97, 0.18);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}



/* ADD CATEGORY BLOCK  */
/* ADD CATEGORY BLOCK  */

.add_category_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.add_category_input {
    padding: 10px;
    border: 1px dashed #979797;
    border-radius: 50px;
    background-color: transparent;
    color: rgb(234, 234, 234);
}

.add_category_input:focus {
    outline: none;
}

.add_category_button {
    font-size: 12px;
    color: rgb(234, 234, 234);
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #6C912C;
    cursor: pointer;
}

/* END */
/* END */

.no_category_available_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no_category_available {
    font-size: 16px;
    color: #979797;
    font-weight: 700;
}

.all_categories {
    margin-top: 30px;
    overflow-y: auto;
    flex-grow: 1;
    background-color: #2e2e2e;
}

.all_categories::-webkit-scrollbar {
    width: 8px;
}

.all_categories::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.all_categories::-webkit-scrollbar-thumb {
    background: #888;
}

.all_categories::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.category {
    padding: 0px 15px;
    cursor: pointer;
    position: relative;
}

.category_overlap {
    position: relative;
    padding: 10px 0;
}

.category:hover {
    background-color: rgba(97, 97, 97, 0.18);
}

.category_intro {
    display: flex;
    align-items: center;
    position: relative;
}

.category_color {
    position: absolute;
    left: 0;
    top: 23px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #191919;
}

.design_line {
    position: absolute;
    left: 4px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #191919;
}

.category_selected_color_line {
    background-color: #6C912C;
    box-shadow: 0 0 10px #000000;
}

.category_name {
    color: rgb(234, 234, 234);
    margin-left: 20px;
    font-size: 12px;
    padding-top: 3px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    white-space: nowrap;
}

.editinput_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 5px;
}

.editinput {
    border: 1px dashed rgb(234, 234, 234);
    font-size: 12px;
    padding: 9px;
    /* box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.154); */
    background-color: transparent;
    border-radius: 5px;
    border-radius: 50px;
    color: rgb(234, 234, 234);
}

.editinput:focus {
    outline: none;
}

.edit_save_button {
    padding: 8px 10px;
    font-size: 13px;
    margin-left: 10px;
    background-color: #6C912C;
    border: none;
    border-radius: 5px;
    color: rgb(234, 234, 234);
    font-weight: 600;
    cursor: pointer;
}

.category_menu_icon {
    color: rgb(234, 234, 234);
    font-size: 12px;
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: rgba(97, 97, 97, 0.18);
    padding: 8px;
    border-radius: 50%;
}

.category_menu_div {
    position: absolute;
    right: 0;
    top: 40px;
    width: 80px;
    height: 63px;
    padding: 5px 0;
    background-color: #6C912C;
    border-radius: 5px;
    font-size: 11px;
    color: rgb(234, 234, 234);
    box-shadow: 0 0 20px 5px #08080844;
    transition: .5s all;
}

.category_menu_div div {
    overflow: hidden;
    transition-delay: .3s;
}

.category_menu_div_closed {
    border-radius: 50%;
    height: 0px;
    width: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
}

.category_menu_div_arrow {
    top: -16px;
    position: absolute;
    right: 0;
    font-size: 30px;
    color: #6C912C;
}

.category_menu_div div p {
    margin: 0;
    padding: 10px 15px;
}

.category_menu_div div p:hover {
    background-color: rgba(0, 0, 0, 0.177);
}

.category_menu_div div p:nth-child(1) {
    border-bottom: 1px solid rgba(87, 87, 87, 0.367);
}

.category_stats {
    margin: 0 10px 0 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(87, 87, 87, 0.367);
}

.category_stats div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    color: #979797;
    line-height: 0;
}




/* RESPONSIVE ITEMS */
/* RESPONSIVE ITEMS */
/* RESPONSIVE ITEMS */

.close_side_menu {
    display: none;
}

.sideMenuOverlay {
    display: none;
}

.sideMenuClosedOverlay {
    display: none;
}

.sideMenuOpenedOverlay {
    display: block;
}





/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */


@media (max-width:1060px) {
    .siderbar {
        height: 100vh;
        position: absolute;
        transform: translateX(-100%);
        transition: .5s all ease-out;
    }

    .sideMenuOpne {
        transform: translateX(0);
        z-index: 3;
    }

    .sideMenuOverlay {
        position: absolute;
        right: 0;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        background-color: rgba(6, 6, 6, 0.124);
        backdrop-filter: blur(10px);
        transition: .5s all;
    }

    .close_side_menu {
        display: block;
        color: #fff;
        font-size: 18px;
    }

}

@media (max-width:360px) {
    .siderbar {
        width: 100%;
        height: 100vh;
    }
}